/* 消除输入框和按钮的原生外观 */
/* input{-webkit-appearance: none;} */
input[type="button"],input[type="submit"],input[type="reset"]{-webkit-appearance: none;}
textarea{-webkit-appearance: none;}

/* 去除ios按钮圆角和默认样式 */
button{border-radius: 0;cursor: pointer;border: 0;}

/* 去除Chrome等浏览器文本框默认发光边框 */
input:focus,textarea:focus{outline: none;border: 1px solid #999;}
input:focus{-webkit-tap-highlight-color: rgba(0,0,0,0);-webkit-user-modify: read-write-plaintext-only;}

/* 设置input placeholder默认字体颜色 */
input::-webkit-input-placeholder{color:#ccc;}

/*去掉input自动填充内容的黄色背景*/
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;box-shadow: 0 0 0px 1000px white inset;} 

/* 去除IE10+浏览器文本框后面的小叉叉 */
input::-ms-clear{display: none;}

/* 禁止多行文本textarea拖拽 */
textarea{resize: none;}

/* resize同样适用于div,需加上overflow: auto; */
div{resize: both;overflow: auto;}

/* 移除ios移动端元素点击时的高亮背景(阴影) */
html{
  -webkit-tap-highlight-color:transparent;
  /* -webkit-tap-highlight-color:rgba(0,0,0,0); */
}

/* 禁止用户选中页面文字 */
body{-webkit-user-select: none;user-select: none;}

/* 禁用字体大小调节 */
*{-webkit-text-size-adjust: none;}