*{margin:0;padding: 0;user-select:none;box-sizing: border-box;}
button{outline:0;border:0;}
html{-webkit-tap-highlight-color:transparent}
body{-webkit-text-size-adjust:none;-webkit-touch-callout:none;-webkit-user-select:none;}

.wrap{position: relative;padding-top:90px;text-align:center;}
.wrap p{font-size:14px;padding:20px 0;color:#666;}
.icon-tip{position: absolute;top: 0;right: 0;z-index: 2;padding: 5px 7px;font-size: 16px;color:#999;}
.title{font-size:18px;display:inline-block;}
.title i{color:#3f94ce;font-size: 20px;padding: 4px 3px;}
.result-btn{display:inline-block;}
.display-area{margin-top: 15px;overflow:hidden;}
.display-area span{float:left;margin:5px 10px;padding:5px 15px;font-size:14px;color:#666;background-color:#efefef;border-radius:5px}
.display-area span.selected{background-color:#389912;color:#fff;}
.table-wrap{margin-top: 20px;}
.table-wrap.hide{display: none;}
table{width: 100%;color: #666;border-collapse:collapse;border-spacing:0;}
table thead{background: #3f94ce;color: #fff;} 
table th,table td{font-weight: normal;font-size: 14px;text-align: center;}
table th{padding: 5px 0;}
table th:not(:last-child){width: 30%;}
table td{padding: 8px 5px;}
table td input{display: inline-block;width: 100%;border: 1px solid #ddd;}
table td input.error{border-color: #f00;}