*{margin:0;padding: 0;user-select:none;}
button{outline:0;border:0;}
html{-webkit-tap-highlight-color:transparent}
body{-webkit-text-size-adjust:none;-webkit-touch-callout:none;-webkit-user-select:none}
.p-center{position: relative;margin-top:90px;text-align:center;}
.title{font-size:16px;display:inline-block;font-weight:400}
.title i{font-size:18px;color:#3f94ce;padding:0 5px}
.p-center p{font-size:14px;padding:20px 0;color:#666;}
.shopnum{color:red;padding:0 2px;font-size:16px}
.foundbtn{border-radius:5px;padding: 0 10px;height:24px;line-height:24px;font-size:14px;text-align:center;color:#fff;background-color:#3f94ce;cursor:pointer;}
.foundbtn.disabled{background-color:#ddd;cursor:not-allowed}
.toggle-pro{padding:4px 5px;vertical-align: top;border-radius:3px;margin-left:10px;color:#fff;font-size:12px;background-color:#45c124;line-height: 1;}
.show-num-area{display:inline-block;overflow:hidden}
.show-num-area span{float:left;margin:5px 10px;padding:5px 15px;font-size:14px;color:#666;background-color:#efefef;border-radius:5px}
.show-num-area span.selected{background-color:#389912;color:#ffff}
.showPro{position: absolute;top: 0;right: 0;font-size: 16px;padding: 5px 7px;color:#3f94ce;}
.mask{display: none;position: fixed;left: 0;top: 0;width: 100%;height: 100%;background-color: rgba(0,0,0,.5);z-index: 5;}
.diaglog-modal{display:none;position: absolute;left: 50%;top: 50%;border-radius:10px;width:85%;height: 65%;-webkit-transform: translate(-50%,-50%);transform: translate(-50%,-50%);overflow: hidden;z-index: 10}
.proinner{height: 100%;}
.iscrollbox{position: relative;height: -webkit-calc(100% - 39px);height: calc(100% - 39px);min-height: 300px;background: #f4f4f4;overflow: hidden;}
.iscroll-content{display:none;position: absolute;top: 0;left: 0;width: 100%;height: 100%;}
.proinner table{width: 100%;color: #666;border-collapse:collapse;border-spacing:0;}
.proinner table thead{background: #3f94ce;color: #fff;}
.proinner table th,.proinner table td{font-weight: normal;width: 50%;font-size: 14px;text-align: center;}
.proinner table th{padding: 10px 0;}
.proinner table td{padding: 8px 0;}