@charset "UTF-8";
/* 
   v1.0 | 20170911
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
article, aside, audio, b, canvas, caption, center,
dd, details, dl, dt, embed, fieldset, figcaption,
figure, footer, form, header, hgroup, i, label, legend, li, mark, menu, nav, ol, output, ruby,
section, small, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

li, ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: PingFangSC-Regular,Helvetica Neue,Microsoft Yahei,微软雅黑;
}

ins {
  text-decoration: none;
}

mark {
  font-weight: 700;
  font-style: italic;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
}

input, select {
  vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  background: transparent;
  text-decoration: none;
  outline: none;
}

a:hover {
  text-decoration: underline;
}

a:link {
  text-decoration: none;
}

:focus {
  outline: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

address, cite, dfn, em, var {
  font-style: normal;
}

fieldset, img {
  border: 0;
}

button, input, select, textarea {
  font-size: 100%;
}

*, *::after, *::before {
  box-sizing: border-box;
}

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden;
}

.clearfix {
  *zoom: 1;
}

::-webkit-scrollbar-track-piece {
  width: 5px;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  height: 50px;
  background: transparent;
  cursor: pointer;
}

::-webkit-scrollbar-thumb:hover {
  background: transparent;
  cursor: pointer;
}

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent;
}

/*去除点击页面中元素时出现的阴影*/
body {
  -webkit-user-select: none;
}

/*禁止页面文字选择*/
button, input, textarea {
  -webkit-appearance: none;
}

/*去掉在ios中按钮用input的自带的圆角渐变*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

/*去掉input自动填充内容的黄色背景*/
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none;
}

/*禁止文字自动调整大小*/
a, img {
  -webkit-touch-callout: none;
}

/*禁用长按页面时的弹出菜单(iOS下有效) ,img和a标签都要加*/
body {
  height: 100%;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  background-attachment: fixed;
  overflow: hidden;
  background: url("../img/bg.gif") repeat;
}

.link-nav .link-item .item p, .link-nav .link-item .item a {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 24px;
  width: 270px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 3;
}

.sidebar .title {
  font-family: cursive;
  text-align: center;
  height: 50px;
  line-height: 50px;
  font-size: 24px;
  color: #fff;
}

.sidebar .list-item {
  position: relative;
  padding: 5px 0;
  overflow: hidden;
}

.sidebar .list-item li {
  height: 30px;
  line-height: 30px;
  padding-left: 20px;
}

.sidebar .list-item li.active a {
  text-decoration: none;
  color: #fff;
}

.sidebar .list-item a {
  display: inline-block;
  width: 100%;
  font-size: 16px;
  color: #888;
  text-decoration: none;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.sidebar .list-item a:hover {
  color: #fff;
  text-decoration: none;
}

.js-off-canvas-overlay {
  background: rgba(0, 0, 0, 0.5);
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 45px;
  line-height: 25px;
  background: transparent;
  z-index: 2;
  width: 100%;
}

.menu-icon::after,
.menu-icon:hover::after {
  background: #ddd;
  box-shadow: 0 7px 0 #ddd, 0 14px 0 #ddd;
}

.off-canvas {
  margin-top: 0 !important;
  background: rgba(0, 0, 0, 0.8);
}

.title-bar-right {
  position: relative;
}

.title-bar-right p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #d4cfcf;
  font-size: 16px;
  font-weight: bold;
}

.menu-con {
  padding-top: 40px;
}

.menu-con li.active a {
  color: #fff;
  background: none;
}

.accordion-menu > li a {
  font-size: 14px;
  color: #888;
  text-decoration: none;
}

.accordion-menu .is-accordion-submenu a {
  font-size: 14px;
}

.submenu-toggle::after {
  border-color: #666 transparent transparent;
}

.close-button {
  position: absolute;
  z-index: 999;
  color: #ddd;
  font-size: 26px;
}

.close-button:focus,
.close-button:hover {
  color: #ddd;
}

.accordion-menu li:last-child {
  border: 0;
}

.go-top {
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 14px;
  color: #ccc;
  line-height: 35px;
  text-align: center;
  transition: 0.3s all;
  background: #666;
  cursor: pointer;
  z-index: 5;
}

.go-top i {
  line-height: 50px;
}

.go-top.off-inner {
  right: -50px;
}

.wrapper {
  position: relative;
}

.off-canvas-content {
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.link-list {
  padding: 20px 0;
}

.link-nav {
  position: relative;
  margin-left: 270px;
}

.link-nav .link-item {
  border-radius: 5px;
}

.link-nav .link-item:after {
  content: "";
  display: block;
  clear: both;
}

.link-nav .link-item .box-name {
  position: relative;
  padding: 15px 0 15px 10px;
  font-size: 14px;
  color: #666;
}

.link-nav .link-item .box-name:before {
  content: "";
  display: block;
  width: 2px;
  height: 14px;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  left: 0;
  background-color: #666;
}

.link-nav .link-item .item {
  padding: 0 20px;
  border-radius: 5px;
  margin-right: 10px;
}

.link-nav .link-item .item p {
  padding: 15px 0;
  font-size: 16px;
  color: #fff;
}

.link-nav .link-item .item a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #888;
  font-size: 16px;
  margin-bottom: 10px;
  margin-right: 10px;
  max-width: 100%;
}

.link-nav .link-item .item a:hover, .link-nav .link-item .item a:active {
  color: #ddd;
}

@media screen and (min-width: 481px) {
  .link-nav .link-list {
    font-size: 0;
    padding: 20px;
  }
}

@media screen and (max-width: 425px) {
  .sidebar {
    display: none;
  }
  .link-nav {
    margin-left: 0;
  }
  .link-list {
    font-size: 0;
    padding: 0;
  }
  .link-item .item {
    width: 100%;
  }
  .title-bar {
    display: block;
  }
}
