@charset "UTF-8";
/* 
   v1.0 | 20170911
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
article, aside, audio, b, canvas, caption, center,
dd, details, dl, dt, embed, fieldset, figcaption,
figure, footer, form, header, hgroup, i, label
, legend, li, mark, menu, nav, ol, output, ruby,
section, small, strike, strong, sub, summary, sup,
table, tbody, td, tfoot, th, thead, time, tr, tt, u
, ul, var, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  font: inherit;
  font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

li, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:after, blockquote:before, q:after, q:before {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: PingFangSC-Regular,Helvetica Neue,Microsoft Yahei,微软雅黑; }

ins {
  text-decoration: none; }

mark {
  font-weight: 700;
  font-style: italic; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help; }

hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc; }

input, select {
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal; }

a {
  background: transparent;
  text-decoration: none;
  outline: none; }

a:hover {
  text-decoration: underline; }

a:link {
  text-decoration: none; }

:focus {
  outline: none; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

address, cite, dfn, em, var {
  font-style: normal; }

fieldset, img {
  border: 0; }

button, input, select, textarea {
  font-size: 100%; }

*, *::after, *::before {
  box-sizing: border-box; }

.clearfix:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  visibility: hidden; }

.clearfix {
  *zoom: 1; }

::-webkit-scrollbar-track-piece {
  width: 5px;
  background-color: transparent; }

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  height: 50px;
  background: transparent;
  cursor: pointer; }

::-webkit-scrollbar-thumb:hover {
  background: transparent;
  cursor: pointer; }

html {
  height: 100%;
  -webkit-tap-highlight-color: transparent; }

/*去除点击页面中元素时出现的阴影*/
body {
  -webkit-user-select: none; }

/*禁止页面文字选择*/
button, input {
  -webkit-appearance: none; }

/*去掉在ios中按钮用input的自带的圆角渐变*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset; }

/*去掉input自动填充内容的黄色背景*/
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none; }

/*禁止文字自动调整大小*/
a, img {
  -webkit-touch-callout: none; }

/*禁用长按页面时的弹出菜单(iOS下有效) ,img和a标签都要加*/
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 24px;
  width: 248px;
  overflow-y: auto;
  background: #30333c;
  z-index: 3; }
  .sidebar .title {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #26cbff;
    border-bottom: 2px solid rgba(255, 255, 255, 0.04); }
  .sidebar .list-item {
    position: relative;
    padding: 5px 0;
    overflow: hidden; }
    .sidebar .list-item li {
      height: 30px;
      line-height: 30px;
      padding-left: 20px; }
    .sidebar .list-item a {
      display: inline-block;
      width: 100%;
      font-size: 12px;
      color: #6b7386;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
      .sidebar .list-item a:hover {
        color: #fff; }

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 15px 0;
  font-size: 12px;
  line-height: 1.4;
  background: #fff;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
  text-align: center;
  color: #333;
  z-index: 2; }

@media screen and (min-width: 481px) {
  .link-nav .link-list {
    max-width: 1200px;
    margin: 0 auto; } }

.wrapper {
  position: relative; }

.link-nav {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
  margin-left: 248px;
  overflow-y: auto;
  background: #f3f6f8;
  padding: 50px 0; }
  .link-nav .link-item {
    margin: 20px 30px;
    padding-bottom: 20px;
    background: #fff;
    overflow: hidden; }
    .link-nav .link-item img {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 1px solid #eee; }
    .link-nav .link-item span {
      color: #26cbff;
      margin-left: 10px; }
    .link-nav .link-item .box-name {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      font-size: 14px;
      font-weight: bold;
      margin: 20px 2% 0 2%; }
      .link-nav .link-item .box-name i {
        width: 5px;
        height: 5px;
        margin-right: 10px;
        background: #26cbff;
        border-radius: 50%; }
    .link-nav .link-item .item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      float: left;
      height: 60px;
      border-radius: 6px;
      background: #fff;
      padding: 10px;
      width: 22.5%;
      min-width: 200px;
      margin: 22px 0 0 2%;
      overflow: hidden;
      border: 1px solid #e4ecf3;
      box-shadow: 1px 2px 3px #f2f6f8; }
      .link-nav .link-item .item a {
        margin-left: 10px;
        color: #000; }
