* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: PingFangSC-Regular, Helvetica Neue, Microsoft Yahei, 微软雅黑;
}


/* ::-webkit-scrollbar-track-piece {
    width: 10px;
    background-color: transparent;
}

    ::-webkit-scrollbar {
    width: 10px;
    height: 6px;
}

    ::-webkit-scrollbar-thumb {
    height: 50px;
    background: transparent;
    cursor: pointer;
}

    ::-webkit-scrollbar-thumb:hover {
    background: transparent;
    cursor: pointer;
} */

.wrapper {
    position: relative;
}

.link_bar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 24px;
    width: 248px;
    height: 100vh;
    overflow-y: auto;
    background: #30333c;
    z-index: 1000;
}

.link_bar .title {
    height: 50px;
    text-align: center;
    line-height: 50px;
    font-size: 18px;
    color: #26cbff;
    border-bottom: 2px solid hsla(0, 0%, 100%, .04);
}

.link_bar .list-item {
    position: relative;
    padding: 5px 0;
    overflow: hidden;
}

.link_bar .list-item li {
    height: 30px;
    line-height: 30px;
    padding-left: 20px;
}

.link_bar .list-item li a {
    display: inline-block;
    width: 100%;
    font-size: 12px;
    color: #6b7386;
    text-decoration: none;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.link_bar .list-item li a:hover {
    color: #fff;
}

.link_body {
    position: relative;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 248px;
    overflow-y: auto;
    background: #f3f6f8;
}

@media screen and (min-width: 481px) {
    .link_body .inner {
        max-width: 1200px;
        margin: 0 auto;
    }
}

.link_body .link_item {
    margin: 20px 30px;
    padding-bottom: 20px;
    background: #fff;
    overflow: hidden;
}

.link_body .link_item .box_name {
    font-size: 16px;
    margin: 20px 2% 0 2%;
}

.link_body .link_item a {
    float: left;
    cursor: pointer;
    height: 60px;
    border-radius: 6px;
    background: #fff;
    padding: 10px;
    width: 22.5%;
    min-width: 200px;
    margin: 22px 0 0 2%;
    overflow: hidden;
    border: 1px solid #e4ecf3;
    box-shadow: 1px 2px 3px #f2f6f8;
}

.footer {
    bottom: 0;
    width: 100%;
    line-height: 45px;
    background: #fff;
    box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}