/*重置css*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, lengend, input, button, textarea, select, p, blockquote, th, td { margin:0; padding: 0;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust: none; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0 none; vertical-align: top; }
li { list-style-type: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight:400;}
body, input, button, textarea, select { font-size: 12px;font-family:"Microsoft Yahei",微软雅黑,Arial,Helvetica;}
button { cursor: pointer;border:0;}
em, cite { font-style: normal; }
body {line-height: 1.17; -webkit-text-size-adjust: none;-webkit-touch-callout: none;-webkit-user-select: none;}
a { color: #2c2c2c; text-decoration: none; }
a:link {text-decoration: none; }
:focus { outline: none; }
.clearfixed:after { content: "."; clear: both; display: block; height: 0; overflow: hidden; }
.clearfixed { zoom: 1; display: block; }
*{-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -o-text-size-adjust: none; text-size-adjust: none;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
::-webkit-scrollbar {width:0; height:0;}  /*滚动条样式*/
::-ms-clear {display:none;}
::-ms-reveal {display:none;}
input::-webkit-input-placeholder{color:#999;}
.none{display:none!important;}

html{height:100%;-webkit-tap-highlight-color:transparent;}  /*去除点击页面中元素时出现的阴影*/
.wrap{width:100%;min-width:320px;margin:0 auto;color:#2c2c2c;}
.nomarg{margin:0!important;}
.fl{float:left;}
.fr{float:right;}
.taL{text-align:left!important;}
.taC{text-align:center!important;}
.taR{text-align:right!important;}
.font14{font-size:14px;}
.bg:active{background-color:#e6e6e6;}/*点击时候背景变暗*/
.dis_b{display: block!important;}/*转换成块级*/
.hide{display:none;}/*隐藏*/
.clear_f{float: none!important;}
input{-webkit-appearance:none;}/*去掉在ios中按钮用input的自带的圆角渐变*/
.img_grayscale{-webkit-filter:grayscale(100%) opacity(.4);-moz-filter:grayscale(100%) opacity(.4);filter:grayscale(100%) opacity(.4);} /*变灰*/

/*公共头部*/
.bodyClass{background:#e6e6e6;}
.wrap-nofix .hd_nav{position:relative;height:45px;}/*给ios中需要输入键盘的页面加，因为ios对fixed兼容不够好*/
.wrap-nofix .all-scroll{padding-top:0;}/*首页嵌入app中不固定头部去掉下面的padding-top*/
.hd_nav{background-color:#fcfcfc;border-bottom:1px solid #df380f;position:fixed;width:100%;top:0;z-index:998}
.hd_nav .tit{height:44px;line-height:48px;text-align:center;font-size:18px;color:#333;-webkit-box-flex:1;font-weight:normal;position:absolute;left:35px;right:35px;white-space:nowrap;text-overflow:ellipsis;overflow: hidden;}
.navbar{position:relative;padding:0 10px;height:44px;}
.nbar_l{position:absolute;left:5px;top:0;bottom:0;z-index:10}
.nbar_r{position:absolute;right:5px;top:0;bottom:0;z-index:10}
.nbar_c{position:absolute;top:0;left:0;width:100%;}
.nbar_tit{position:absolute;right:5px;top:0;line-height:48px;}
.nbar_tit a{display:inline-block;color:#666;margin-right:10px;font-size:15px;}
.nbar_tit a:last-child{margin-right:0;}
.nbar_tit a:active{color:#df380f;}
.doub-hd{height:82px;z-index:1001;position:relative;}/*在有双层表头的时候加*/
.icon-back_previous,.icon-homepage{display:block;width:38px;height:44px;line-height:48px;position:relative;z-index:20;float:left;padding-left:10px;vertical-align:middle;font-size:17px;}
.icon-s-show{display:inline-block;width:38px;height:44px;line-height:48px;text-align:center;vertical-align:middle;position:relative;z-index:20;float:right;font-size:16px;}
.icon-back_previous:active:before,.icon-s-show:active:before,.icon-s-mine:active:before{color:#df380f;}
.icon-s-mine{float:right;display:inline-block;width:44px;height:44px;line-height:48px;text-align:center;vertical-align:middle;position:relative;z-index:20;font-size:17px;}
/*优惠双头部*/
.nbar_tab{padding-top:10px;}
.nav-tab{display:-moz-box;display:-webkit-box;display:-ms-flexbox;display:box;height:30px;border:1px #333 solid;width:75%;border-radius:4px;margin:-1px auto 0;}
.nav-tab a{-webkit-box-flex:1;display:block;width:50%;text-align:center;color:#333;font-size:13px;line-height:30px;border-right:1px #666 solid;}
.nav-tab a:last-child{border-right:0;}
.nav-tab a.cur,.nav-tab a:active{background-color:#666;color:#fff;}
.pro-kinds{background-color:#fcfcfc;width:100%;overflow-x:scroll;white-space:nowrap;-webkit-overflow-scrolling:touch;padding:5px 0 9px;}
.horizontal{overflow-x:scroll;white-space:nowrap;width:100%;}
.pro-kinds a{display:inline-block;margin:0 10px;vertical-align:middle;text-align:center;padding:2px;color:#2c2c2c;font-size:13px;box-sizing:border-box;}
.pro-kinds a.cur,.pro-kinds a:active{color:#df380f;}
.pro-kinds::-webkit-scrollbar {width:5px; height:2px;} /*滚动条样式*/
.pro-kinds::-webkit-scrollbar-thumb {background: rgba(0,0,0,0.2);}
/*搜索头部及搜索下拉*/
.search{position:relative;width:76%;height:28px;background:#fff;margin:10px auto 0;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;-moz-border-radius:3px;-webkit-border-radius:3px;-o-border-radius:3px;border-radius:3px;border:1px solid #ccc;}
.ipt_sear{position:relative;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;box-shadow:inset 0 1px 1px rgba(204,204,204,.6);padding-left:30px;padding-right:10px;height:100%;border:none;background:transparent;font-size:14px;}
.search .icon-icon_sear{position:absolute;left:7px;top:5px;}
.search .icon-icon_sear:before{font-size:14px;}
.search .icon-del{position:absolute;top:5px;right:5px;font-size:15px;}
.search .icon-del:active:before{color:#888;}
.search .btn_sear{position:absolute;top:4px;right:-33px;color:#df3710;font-size:14px;}
.sear_suggestion{position:absolute;top:46px;left:0;width:100%;background:#f2f2f2;font-size:12px;z-index:100;} /*商户列表搜索的下拉搜索框*/
.sear_suggestion li{padding:10px 0 10px 10px;border-bottom:1px solid #ddd;}
.sear_suggestion .close{padding:5px 0;text-align:center;}
.sear_suggestion .close a{color:#333}
.hdsuggest{top:38px;z-index:1003;height:280px;background:#fff;display:none;}
.hdsuggest li{background:#fff;padding:10px 35px;color:#666;}
.cancel_sear a{float:left;line-height:44px;color:#666;position:relative;z-index:20;margin-left:5px;font-size:15px;}
.searbox_mask{display:none;position:fixed;top:81px;bottom:0;width:100%;background:rgba(0,0,0,0.4);z-index:999;}

/*搜索头部菜单选项*/
.navbar_sear{height:44px;padding:0;}
.nav-sear{width:100%;margin:0 0 -8px 0;padding:3px 12px 4px 10px;background-color:#fcfcfc;z-index:1001;display:table}
.nav-sear .cur{color:#e15232!important;}
.nav-sear .cur .up-arrow3{display:block;}
.nav-sear .section{display:table-cell;width:33.3%;color:#333;position:relative;height:27px;line-height:27px;padding-left:15px;cursor:pointer;font-size:12px;}

/*头部*/
.showbox_mask{display:none;position:fixed;top:45px;bottom:0;width:100%;background:rgba(0,0,0,0.4);z-index:1002;}
.show-box{display:none;width:100%;position:absolute;left:0;font-size:14px;padding:0 5px;}
#commShowBox{top:51px;z-index:1003;-webkit-transition:all .4s ease-out;}
.show-box .list{border-bottom:1px #e6e6e6 solid;background-color:#fff}
.show-box .list .item{float:left;position:relative;width:33.3%;-webkit-box-sizing:border-box;box-sizing:border-box;border:1px #e6e6e6 solid;border-width:0 1px 1px 0;}
.show-box .list .item a{display:block;text-align:center;padding:10px 0 0;}
.show-box .list .item:nth-child(3n){border-right:0;}
.show-box .list .item span{display:block;font-size:12px;color:#8c8c8c;height:32px;display:-webkit-box;-webkit-box-orient:vertical;-webkit-box-pack:center;}
.show-box .list .checked-icon{top:2px;left:2px;}

/*内容部分*/
.all-scroll{padding:45px 0 30px;}
.all-scroll2{padding:81px 0 30px;}
.all-scroll3{padding:50px 0 30px;} /*优惠详情有tab切的头部*/

/*公共部分*/
.mart20{margin-top:20px!important;}
.mart10{margin-top:10px!important;}
.mg_right { margin-right: 10px!important; }
.marb20{margin-bottom:20px;}
.marb10{margin-bottom:10px;}
.padlr10{padding:0 10px;}
.padtb10{padding:10px 0!important;}
.f-red,.f-red:before{color:#df380f!important;}
.bgred{background-color:#df380f!important;}
.f-green{color:#6bce67!important;}
.bordbg{background:#e6e6e6;height:10px;}
.dis_box{display: -webkit-box!important;display:box!important; -webkit-box-align:center;}/*转换成弹性布局并垂直居中*/
.box_flex{-webkit-box-flex:1;}
.bor-b-none{border-bottom:none!important;}
.bor-l-none{border-left:none!important;}
.bor-r-none{border-right:none!important;}
.big-button,.big-button2{font-size:15px;color:#fff;background-color:#df380f;text-align:center;height:44px;line-height:44px;border-radius:3px;border:0;-webkit-appearance:none;width:100%;margin:5px 0 10px;}
.big-button2{background-color:#3290e7;margin-top:10px;}
.big-button.disabled{background-color:#999;color:#fff;}
.hollow-big-button{border:1px #ebebeb solid;height:44px;line-height:44px;border-radius:3px;background-color:#fff;-webkit-appearance:none;width:100%;margin:5px 0 10px;text-align:center;font-size:15px;}
.attend-btn{text-align:center;margin-top:10px;font-size:12px;color:#666;padding-bottom:10px;}
.attend-btn button,.attend-btn a{display:block;background-color:#df380f;border-radius:3px;font-size:16px;color:#fff;width:70%;height:44px;line-height:44px;vertical-align:middle;border:0;-webkit-appearance:none;margin:0 auto 5px;}
.attend-btn button:active,.attend-btn a:active{opacity:0.9;}
.attend-btn .disabled{background-color:#999;color:#fff;}
.attend-btn .disabled2{border:1px #c9c9c9 solid;background-color:#e5e5e5;color:#bebebe;}
.attend-btn .disabled:active{opacity:1;}
.view-btn{text-align:center;padding:10px 0;}
.exit-btn{display:block;width:100%;background-color:#fff;height:45px;line-height:45px;text-align:center;font-size:14px;margin:2px auto;color:#333;}
.park-tit{height:35px;line-height:35px;padding:0 10px;background-color:#e6e6e6;}
.park-tit h2{display:inline-block;font-size:15px;font-weight:normal;margin-right:10px;}
.crosstit{font-size:15px;font-weight:normal;height:35px;line-height:35px;padding:0 10px;background-color:#e6e6e6;color:#2c2c2c;}
.gm-input{border:1px #ccc solid;height:44px;border-radius:3px;margin-bottom:10px;font-size:14px;width:100%;padding:0 10px;font-size:15px;}
.ct{position: absolute!important;top: 50%;left: 0;transform: translate(0,-50%);transform: -webkit-translate(0,-50%);} /*垂直居中*/
.cv{position: absolute;top: 50%;left: 50%;transform: translate(-50%,-50%);-webkit-transform: translate(-50%,-50%);}   /*横向纵向都居中*/
.arrow_rv{position: absolute; right: 10px; top: 50%; transform:translate(0,-50%)}/*右箭头垂直居中*/
.input-text{height:40px;color:#999;border:0;border-radius:5px;width:100%;margin:20px 0 10px;padding:0 10px;font-size:14px;border:1px #ccc solid;-webkit-appearance:none;}

/*公共图标*/
.icon_sp1{display:inline-block;background:url(../images/common/sp-icons.png) no-repeat;background-size:250px auto;}
.icon_mr{display:inline-block;background:url(../images/common/more-icons.png) no-repeat;background-size:150px auto;}
.up-arrow{position:absolute;top:-4px;right:20px;width:9px;height:5px;background-position:-30px -137px;z-index:3;}
.up-arrow2{position:absolute;bottom:-1px;left:50%;width:8px;height:5px;background-position:-30px -235px;}
.up-arrow3{display:none;position:absolute;bottom:-12px;left:30px;width:9px;height:5px;background-position:-30px -137px;z-index:3;}
.s-icon1,.s-icon2,.s-icon3{float:left;width:19px;height:19px;}
.s-icon1{background-position:-27px 0;}/*卡*/
.s-icon2{background-position:-27px -23px;}/*团*/
.s-icon3{background-position:-27px -47px;}/*惠*/
.sp-icon1,.sp-icon2,.sp-icon3,.sp-icon4,.sp-icon5,.sp-icon6,.sp-icon7,.sp-icon8,.sp-icon9,.sp-icon10,.sp-icon11,.sp-icon12,.sp-icon26,.sp-icon13,.sp-icon14,.sp-icon110{width:20px;height:21px;}
.sp-icon1{background-position:-115px 0;}   /*主页*/
.sp-icon2{background-position:-115px -23px;}   /*搜索*/
.sp-icon3{background-position:-115px -47px;}   /*我的*/
.sp-icon4{background-position:-115px -71px;}   /*分享*/
.sp-icon5{background-position:-115px -96px;}   /*点评*/
.sp-icon6{background-position:-115px -120px;}  /*喜欢*/
.sp-icon6:active,#likeId:active .sp-icon6,a.cur .sp-icon6{background-position:-88px -159px;}        /*喜欢点击状态*/
.sp-icon7{background-position:-115px -142px;}  /*消息中心*/
.sp-icon8{background-position:-115px -164px;}  /*意见反馈*/
.sp-icon9{width:21px;background-position:-115px -186px;}   /*帮助*/
.sp-icon10{width:21px;background-position:-115px -212px;}  /*商场简介*/
.sp-icon11{background-position:-60px -208px;}   /*关于*/
.sp-icon12{background-position:-60px -230px;}   /*编辑信息*/
.sp-icon13{width:22px;background-position:-88px -108px;} /*收藏*/
.sp-icon13:active,#keepId:active .sp-icon13,a.cur .sp-icon13{background-position:-88px -134px;}  /*收藏点击状态*/
.sp-icon14{width:18px;background-position:-212px 0;} /*游戏*/
.sp-icon26{width:17px;background-position:-233px 2px;}      /*奖品*/
.icon-arrow-b,.icon-arrow-t{display:block;width:40px;height:40px;line-height:40px;font-size:12px;margin:0 auto;font-size:18px;}
.icon-arrow-r:before{font-size:12px;color:#d4d4d4!important;}

/* 滚动刷新 */
.list_shop{position:absolute; z-index:1;top:75px;bottom:0; left:-9999px; width:100%; overflow:auto;background-color:#fff; }
.list_activity{position:absolute; z-index:1;top:44px;bottom:0;left:-9999px; width:100%; overflow:auto;background-color:#fff;}
#scroller{position:absolute; z-index:1; -webkit-tap-highlight-color:rgba(0,0,0,0); width:100%; padding:0; }
#pullDown, #pullUp { height: 40px; line-height: 40px; font-weight: bold; font-size: 14px; color: #888; text-align: center;}
#pullUp{background:#EBEFF1;}/*给列表页加载的时候最下面的一个块与加载项之间没有缝隙*/
#pullDown .pullDownIcon,#pullUp .pullUpIcon{ display: inline-block; vertical-align: top; width: 40px; height: 37px; }
#pullDown .pullDownIcon{
  background: url(../images/common/pull-icon@2x.png) 0 -6px no-repeat;
  -moz-background-size: 40px 80px;
  -webkit-background-size: 40px 80px;
  -o-background-size: 40px 80px;
  background-size: 40px 80px;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -ms-transition-property: -ms-transform;
  -o-transition-property: -o-transform;
  transition-property: transform;
  -webkit-transition-duration: 250ms;
  -moz-transition-duration: 250ms;
  -ms-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
  -webkit-transform: rotate(0deg) translateZ(0);
  -moz-transform: rotate(0deg) translateZ(0);
  -ms-transform: rotate(0deg) translateZ(0);
  -o-transform: rotate(0deg) translateZ(0);
  transform: rotate(0deg) translateZ(0);
}
#pullDown.flip .pullDownIcon {
  -webkit-transform: rotate(-180deg) translateZ(0);
  -moz-transform: rotate(-180deg) translateZ(0);
  -ms-transform: rotate(-180deg) translateZ(0);
  -o-transform: rotate(-180deg) translateZ(0);
  transform: rotate(-180deg) translateZ(0);
}
#pullDown.loading .pullDownIcon,#pullUp.loading .pullUpIcon{background:url(../images/common/loading-ani.gif) no-repeat 5px 18px;-moz-background-size:23px 5px;-webkit-background-size:23px 5px;-o-background-size:23px 5px;background-size:23px 5px}
.mask{display:none;position: fixed; top: 0; left: 0; width: 100%; height: 100%; z-index: 99; background:rgba(0,0,0,.8);}  /*position改为fixed是解决蒙版背景在拖动时不能无限延长*/

/*列表加载数据*/
.loadon{padding: 20px 0; text-align: center;font-size:15px;}
.loadon span{background: Url(../images/common/loading-ani.gif) no-repeat 0 center; background-size: 23px auto;padding-left:30px;}


/*底部浮层*/
.smartad{position:fixed;left:0;bottom:0;width:100%;height:68px;z-index:1000;font-size:14px;background-color:rgba(68,68,79,.8)}
.sd-close{position:absolute;left:0;top:0;width:30px;height:30px;z-index:10;background:url(../images/common/tap-down.png) no-repeat;background-size:18px auto;}
.sd-point{height:100%;text-decoration:none;color:#fff;}
.sd-font{display:-webkit-box;-webkit-box-align:center;padding:20px 10px 0 10px;overflow:hidden;height:52px;}
.sd-maoku{display:inline-block;background:url(../images/common/dyc-pic.jpg) no-repeat;background-size:contain;vertical-align:middle;width:30px;height:30px;}
.sd-font > span{display:block;-webkit-box-flex:1;margin:0 12px;line-height:120%;}
.sd-dl{display:block;background-color:#e5e5e5;padding:0 12px;height:30px;line-height:30px;text-align:center;font-weight:normal;border-radius:3px;color:#3d4245;}
.smartad.top{top:0;}
.actishare{padding:0 30px 20px;text-align:center;background-color:#fff;position:fixed;bottom:0;left:0;width:100%;border-top:1px #f4f4f4 solid;}

/*暂无数据*/
.nodata{padding:20px 0;text-align:center;font-size:16px;color:#808080;}
.nodata .icon-notebook:before{display: block; font-size: 90px; color: #d0d4d5;}

/*全局波浪线*/
.crimp-t:before,.crimp-b:after,.crimp-wt:before,.crimp-wb:after{position:absolute;left:0;width:100%;height:5px;z-index:1;content: " ";}
.crimp-t:before,.crimp-b:after{background:url(../images/common/circle-b-shadow.png) repeat-x;background-size:11px 5px;}/*券波浪透明*/
.crimp-wt:before,.crimp-wb:after{background:url(../images/common/circle-b-white.png) repeat-x;background-size:11px 5px;}/*券波浪白色*/
.crimp-t:before,.crimp-wt:before{top:0;-webkit-transform:rotate(-180deg);}  
.crimp-b:after,.crimp-wb:after{bottom:0;}
/*左右半圆*/
.circleline{position:relative;left:0;text-align:center;width:100%;z-index:1;}
.circleline:before,.circleline:after{content: "";position:absolute;width:8px;height:12px;background-color: #fff;border:1px #d6d6d6 solid;top:50%;transform:translate(0,-50%);}
.circleline:before{border-radius: 0 8px 8px 0;left:-1px;border-left:0;}
.circleline:after{border-radius: 8px 0 0 8px;right:-1px;border-right:0;}
.circleline span{display:inline-block;height:1px;border-top:1px #ccc dashed;width:90%;vertical-align:middle;}
.circleline-b.circleline:before,.circleline-b.circleline:after{width:13px;height:23px;}
.circleline-b.circleline:before{border-radius: 0 12px 12px 0;}
.circleline-b.circleline:after{border-radius: 12px 0 0 12px;}

/*样式*/
.swiper-pagination-bullet {display: inline-block;width: 8px;height: 8px;border-radius: 8px;background: #ccc!important;margin:0 3px!important;cursor: pointer;opacity:1!important;}
.swiper-pagination-bullet:last-child{margin-right:0;}
.swiper-pagination-bullet-active {background: #df380f!important;}
.swiper-pagination{text-align:right!important;margin-top:1.25rem;z-index:1;bottom:5px!important;}

/*加减控件*/
.mc_count { display: inline-block; border: 1px solid #dcdcdc; }
.mc_count span, .mc_count input { float: left; width: 37.5px; height: 27px; text-align: center; position: relative; }
.mc_count span:before, .mc_count .plus:after { content: ""; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); -webkit-transform: translate(-50%, -50%); width: 12px; height: 2px; border-radius: 2px; background-color: #fd5753; }
.mc_count .plus:after { transform: translate(-50%, -50%) rotate(90deg); -webkit-transform: translate(-50%, -50%) rotate(90deg); }
.mc_count .num { -webkit-appearance: none; border-radius: 0; line-height: normal; border: 0; border-right: 1px solid #dcdcdc; border-left: 1px solid #dcdcdc; font-size: 16px; text-align: center;}

/*分享弹出框*/
.sharebox{width:210px;margin:0 auto;}
.sharebox h5{margin-bottom:12px;font-size:14px;color:#333;font-weight:400;}
.sharebox li{float:left;margin:0 4px;width:60px;}
.sharebox li a{display:block;width:42px;height:42px;background:url(../images/utils/share.png) no-repeat 0 0;margin:0 auto;background-size:152px auto;}
.sharebox li h6{font-size:12px;color:#333;text-align:center;font-weight:400;margin-top:2px;}
.sharebox li .sinat{background-position:-56px 0;}
.sharebox li .qqzone{background-position:-109px 0;}
.sharebox li .tcent{background-position:0 0;}

/*单选、多选*/
.sradiobox span{display:inline-block;color:#2c2c2c;width:45%;text-align:left;font-size:16px;line-height:30px; padding: 3px 0 10px;}
.sradiobox span i{color:#bdbdbd;vertical-align:middle;margin-right:7px;}
.sradiobox span.checked i:before{content: "\e619";color:#df380f;}

.mulradiobox span{display:inline-block;width:32%;font-size:16px;margin-bottom:5px;}
.mulradiobox span i:before{vertical-align:middle;margin-right:7px;}
.mulradiobox span.checked i:before{content: "\e61b";}

/*返回顶部*/
.AppBackTop { position: fixed; bottom: 56px; right: 8px; width: 35px; height: 35px; z-index: 800; border: 1px solid #ccc; border-radius: 50%; background-color: #fff;	z-index:100;	/*display: none;*/ }
.AppBackTop:before, .AppBackTop:after { content: ""; position: absolute; }
.AppBackTop:before { width: 13px; height: 13px; border-left: 2px solid #E0DFDF; border-top: 2px solid #E0DFDF; left: 9px; top: 8px; -webkit-transform: rotate(45deg); transform: rotate(45deg); }
.AppBackTop:after { width: 2px; height: 20px; background-color: #E0DFDF; top: 6px; left: 50%; margin-left: -1px; }

/*加载处理中*/
.inprogress{padding-top:50px;}
.inprogress h3{font-size:20px;text-align:center;}
.inprogress .malllogo{width:40%;display:block;margin:55px auto;}