@import 'layout/header';
@import 'layout/footer';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color:transparent;
}

a{
  text-decoration: none;
  color: #333;
}

input, textarea{-webkit-appearance: none;}

ul,li{
  list-style: none;
}

article,aside,dialog,footer,header,section,footer,nav,figure,menu{display:block}

body{
  margin: 0 auto;
  max-width: 1200px;
  font: 12px/1.5 arial,'microsoft yahei',sans-serif;
  background-color: #f4f4f4;
  user-select: none;
}

.header{
}

.main{
  width: 100%;
  background-color: #fff;
}

.data-list{
  li{
    font-size: 14px;
    p{
      position: relative;
      padding: 15px 10px;
      &::after{
        content: '';
        position: absolute;
        left: 0;
        bottom: -1px;
        display: block;
        width: 100%;
        border: 1px solid #f4f4f4;
        transform: scaleY(0.5);
      }
      i{
        position: absolute;
        top: 50%;
        right: 10px;
        display: inline-block;
        width: 10px;
        height: 10px;
        border: 1px solid #666;
        border-width: 1px 1px 0 0;
        transform: translateY(-50%) rotate(45deg);
        transition:  all .3s;
      }
      &.active{
        i{
          transform: translateY(-50%) rotate(135deg);
        }
      }
    }
  }
}

.fade-enter-active, .fade-leave-active {
  transition: all .3s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}