@charset "utf-8";
html{overflow-y:auto;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%}
*,:after,:before{box-sizing:border-box}
body{font-family: "Microsoft YaHei",Arial,Helvetica,sans-serif}
html *{outline:0;-webkit-tap-highlight-color:transparent;}
body,html{height:100%;}
// menu,
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;margin:0;padding:0}
blockquote,body,button,code,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,hr,input,legend,li,ol,p,pre,td,textarea,th,ul{margin:0;padding:0}
input,select,textarea{font-size:100%}
table{border-collapse:collapse;border-spacing:0}
caption,th{text-align:left;font-weight:400}
fieldset,img{border:0 none;}
img{width:100%;vertical-align:middle}
img:not([src]),img[src=""]{opacity:0}
address,caption,cite,code,dfn,em,th,var{font-style:normal;font-weight:500}
ol,ul{list-style:none}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:500}
q:after,q:before{content:''}
a{text-decoration:none;color:#000}
button{border:0 none;}
button,input[type=button],input[type=submit],input[type=reset]{-webkit-appearance:button;text-transform:none;outline:0}
input::-webkit-input-placeholder,textarea::-webkit-input-placeholder{color:#999}
input[type=radio],textarea{-webkit-appearance:none}
input::-webkit-inner-spin-button{-webkit-appearance:none}
input::-webkit-outer-spin-button{-webkit-appearance:none}
textarea{vertical-align:top}
button,input{line-height:normal}
select{margin:0;outline:0}
input.fixAKeyboard:focus,textarea.fixAndroidKeyboard:focus{-webkit-tap-highlight-color:rgba(255,255,255,0);-webkit-user-modify:read-write-plaintext-only}
input:-webkit-autofill{box-shadow:0 0 0 1000px #fff inset!important}
button,input[type=button],input[type=checkbox],input[type=reset],input[type=submit],label{cursor:pointer;user-select:none;-ms-user-select:none;-moz-user-select:none;-webkit-user-select:none}
input[type=submit]{-webkit-user-modify:read-plaintext-only;-moz-user-modify:read-plaintext-only;-ms-user-modify:read-plaintext-only;-o-user-modify:read-plaintext-only;user-modify:read-plaintext-only}
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration{-webkit-appearance:none}
input[type=search]{-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box;-webkit-appearance:textfield}
