.keyboard{position:fixed;right:0;bottom:0;left:0;display:none;padding:0 0 10px;outline:0;border-top:1px solid #c1c7cf;background:#cfd4da;text-align:center}
.keyboard-toolbar{height:2pc;background:#f7f7f7;text-align:right}
.keyboard-toolbar .keyboard-toolbar-item{display:inline-block;padding:6px 8px;color:#00bf70;font-size:14px;line-height:1.42857143}
.keyboard-wrapper{display:inline-block;margin-top:4px}
.keyboard .keyboard-keyset{position:relative;display:none;margin:0 auto}
.keyboard .keyboard-text,.keyboard .keyboard-text-hover{display:inline-block;min-width:1pc;color:#222}
.keyboard .keyboard-text-hover{position:absolute;top:-60px;right:-9pt;bottom:-1px;left:-9pt;z-index:0;display:none;background:url(bg-active.png) center bottom no-repeat;background-size:100% auto;pointer-events:none}
.keyboard .keyboard-button{position:relative;display:inline-block;margin:6px 2px 0;padding:6px 0;width:28px;max-width:28px;outline:0;border:0;border-radius:5px;background:#fff;box-shadow:0 1px 3px 0 rgba(0,0,0,.4);vertical-align:middle;text-align:center;font-size:18px;line-height:1.42857143;cursor:pointer;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
.keyboard .keyboard-button:active>.keyboard-text-hover{display:block;padding:8px;text-align:center;font-size:25px}
.keyboard .keyboard-button[disabled]{opacity:.65;cursor:not-allowed;pointer-events:none;filter:alpha(opacity=65)}
.keyboard .keyboard-button.keyboard-action-button{background:#a8b0bd}
.keyboard .keyboard-button.keyboard-action-placeholder{border:0;background:0 0;box-shadow:none}
.keyboard .keyboard-button.keyboard-action-delete{position:absolute;right:0;padding:6px 7px;background:url(btn-del.png) center no-repeat;background-size:20px auto}
.keyboard .keyboard-button.keyboard-action-switch{position:absolute;left:0;padding:6px 7px;background:url(btn-back.png) center no-repeat;background-size:30px auto}
.keyboard .keyboard-button.keyboard-action-switch1{background:url(btn-back1.png) center no-repeat;background-size:30px auto}
@media screen and (min-width:360px) and (max-width:374px){.keyboard .keyboard-button{margin:6px 3px 0;padding:10px 0;width:30px;max-width:30px;font-size:20px}
.keyboard .keyboard-button.keyboard-action-delete{padding:10px 9px;background-size:24px auto}
.keyboard .keyboard-button.keyboard-action-switch{padding:10px 9px;background-size:34px auto}
.keyboard .keyboard-button:active>.keyboard-text-hover{right:-13px;bottom:0;left:-13px;padding:10px;font-size:28px}
}
@media screen and (min-width:375px) and (max-width:411px){.keyboard .keyboard-button{margin:6px 2px 0;padding:10px 0;width:33px;max-width:33px;font-size:20px}
.keyboard .keyboard-button.keyboard-action-delete{padding:10px 9px;background-size:24px auto}
.keyboard .keyboard-button.keyboard-action-switch{padding:10px 9px;background-size:34px auto}
.keyboard .keyboard-button:active>.keyboard-text-hover{top:-65px;right:-14px;left:-14px;padding:11px;font-size:29px}
}
@media screen and (min-width:412px) and (max-width:413px){.keyboard .keyboard-button{margin:6px 2px 0;padding:10px 0;width:36px;max-width:36px;font-size:20px}
.keyboard .keyboard-button.keyboard-action-delete{padding:10px 9px;background-size:24px auto}
.keyboard .keyboard-button.keyboard-action-switch{padding:10px 9px;background-size:34px auto}
.keyboard .keyboard-button:active>.keyboard-text-hover{top:-74px;right:-15px;left:-15px;padding:9pt;font-size:2pc}
}
@media screen and (min-width:414px){.keyboard .keyboard-button{margin:6px 3px 0;padding:10px 0;width:35px;max-width:35px;font-size:24px}
.keyboard .keyboard-button.keyboard-action-delete{padding:10px;background-size:26px auto}
.keyboard .keyboard-button.keyboard-action-switch{padding:10px;background-size:36px auto}
.keyboard .keyboard-button:active>.keyboard-text-hover{top:-4pc;right:-15px;left:-15px;padding:9pt;font-size:2pc}
}
