*{
  margin: 0;
  padding: 0;
}
ul,li{
  list-style: none;
}
$a: #f00;
$b: #ff0;
.word-test {
  color: $a;
  background: $b;
}

.nav {
  background-color: steelblue;
  &__container {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    color: white;
    &--active {
      @extend .nav__item;
      border-bottom: 1px solid red;
    }
  }
}