.wrapper {
  position: relative;
}
.link-list{
  position: absolute;
}
.link-nav {
  position: relative;
  margin-left: 270px;
  .link-item {
    position: absolute;
    transition: .3s ease-in-out;
    .box-name {
      position: relative;
      padding: 15px 0 15px 10px;
      font-size: 14px;
      color: #666;
      &:before{
        content: '';
        display: block;
        width: 2px;
        height: 14px;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        left: 0;
        background-color: $theme-cor;
      }
    }
    .item {
      width: 200px;
      border: 1px solid #4c4444;
      padding: 10px 5px;
      &:not(:first-of-type){
        margin-top: 10px;
      }
      background-color: $sidebar-bg;
      border-radius: 6px;
      span {
        display: block;
        color: #333;
        font-size: 13px;
        padding: 5px;
        color: #808080;
      }
      a {
        display: block;
        padding: 6px;
        color: #ddd;
        font-size: 12px;
        border-radius: 5px;
        transition: all .3s ease-in;
        @extend %ellipsis;
        &:not(:last-child){
          margin-bottom: 2px;
        }
        &:hover{
          color: $theme-cor;
          background-color: rgba(0,0,0,.4);
        }
      }
    }
  }
}