@@include('layout/res_header.html',{ "title":"首页" })
<header class="header"></header>
<main class="main">
  <nav class="nav">
    <ul class="data-list" id="dataEl">
      <li v-for="(item1,index1) in dataList" :key="index1">
        <a href="#">
          <p @click="show = !show" :class="{active: show}"><span>{{item1.year}}</span><i></i></p>
          <transition name="fade">
            <ul v-if="show">
              <li v-for="(item2,index2) in item1.monthList" :key="index2">
                <a href="#">
                  <p @click.stop="show1 = !show1" :class="{active: show1}"><span>{{item2.month}}</span><i></i></p>
                  <transition name="fade">
                    <ul v-if="show1">
                      <li v-for="(item3,index3) in item2.articleList" :key="index3">
                        <a :href="item3.url">
                          <p><span>{{item3.title}}</span><i></i></p>
                        </a>
                      </li>
                    </ul>
                  </transition>
                </a>
              </li>
            </ul>
          </transition>
        </a>
      </li>
    </ul>
  </nav>
</main>
<footer class="footer"></footer>
@@include('layout/res_footer.html')