.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 0 24px;
  width: 270px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  background: #222;
  z-index: 3;
  .title {
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: $blue;
    border-bottom: 2px solid hsla(0, 0%, 100%, .04);
  }
  .list-item {
    position: relative;
    padding: 5px 0;
    overflow: hidden;
    li {
      height: 30px;
      line-height: 30px;
      padding-left: 20px;
    }
    a {
      display: inline-block;
      width: 100%;
      font-size: 14px;
      color: $gray;
      text-decoration: none;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      &:hover {
        color: $white;
      }
    }
  }
}

// foundation sidebar
.js-off-canvas-overlay {
  background: rgba(0, 0, 0, .5);
}

.title-bar {
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 45px;
  line-height: 25px;
  background: transparent;
  z-index: 2;
  width: 100%; //box-shadow: 0 0 1rem rgba(0, 0, 0, .2);
}

.menu-icon::after,
.menu-icon:hover::after {
  background: #ddd;
  -webkit-box-shadow: 0 7px 0 #ddd, 0 14px 0 #ddd;
  box-shadow: 0 7px 0 #ddd, 0 14px 0 #ddd;
}

.off-canvas {
  margin-top: 0!important;
  background-color: #222;
}

.title-bar-right {
  position: relative;
}

.title-bar-right p {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: #d4cfcf;
  font-size: 16px;
  font-weight: bold;
}

.menu-con {
  padding-top: 40px;
}

.accordion-menu>li a {
  font-size: 14px;
  color: $gray;
}

.accordion-menu .is-accordion-submenu a {
  font-size: 14px;
}

.submenu-toggle::after {
  border-color: #666 transparent transparent;
}

.close-button {
  position: absolute;
  z-index: 999;
  color: #ddd;
  font-size: 26px;
}

.close-button:focus,
.close-button:hover {
  color: #ddd;
}

.accordion-menu li:last-child {
  border: 0;
}

.go-top {
  position: fixed;
  bottom: 60px;
  right: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-size: 14px;
  color: #ccc;
  line-height: 35px;
  text-align: center;
  transition: .3s all;
  background: #666;
  cursor: pointer;
  z-index: 5;
  i{
    line-height: 50px;
  }
}

.go-top.off-inner {
  right: -40px;
}
