/* 基础样式 */
.mirror-body-bg{background:-moz-linear-gradient(-135deg, #a13a4b 0%, #792b5a 100%);background:-webkit-linear-gradient(-135deg, #a13a4b 0%, #792b5a 100%);background:-o-linear-gradient(-135deg, #a13a4b 0%, #792b5a 100%);background:linear-gradient(-135deg, #a13a4b 0%, #792b5a 100%);background-color: #792b5a;background-repeat: no-repeat;background-attachment:fixed;}
@font-face{font-family: BebasKai;src: url("./../font/BebasKai-Regular.otf");}
.mart40{margin-top: 40px;}
svg:not(:root){overflow: visible;}

/* 魔镜顶部数据banner */
.mirror-banner{padding: 5px;}
.mirror-banner-inner{position: relative;color: #fff;}
.mirror-banner-inner .title{position: absolute;top: 11%;left: 6%;}
.mirror-banner-inner .status{position: absolute;font-size: 14px;left: 50%;bottom: 17%;transform:translateX(-50%);-webkit-transform:translateX(-50%);}

.mirror-item div{position: absolute;font-family:BebasKai;}
.mirror-item div:nth-child(2) span:nth-child(1){font-size: 28px;}
.mirror-item div span{display: block;text-align: center;}
.mirror-item div span:nth-child(2){opacity: .6;}
.mirror-item div:nth-child(1),.mirror-item div:nth-child(3) {width: 22.5%;height: 43%;top: 32%;}
.mirror-item div:nth-child(1) {left: 15.7%}
.mirror-item div:nth-child(2) {width: 33%;height: 63%;top: 12%;left: 33.5%;}
.mirror-item div:nth-child(3) {left: 62.1%;}
.mirror-item div em{line-height: 1;}
.mirror-item div:nth-child(1) em,.mirror-item div:nth-child(3) em{font-size: 24px;}
.mirror-item div:nth-child(2) em{font-size: 54px;}

/* svg数据展示 */
.mirror-svg-wrap{position: relative;width: 72%;margin: 0 auto;}
.mirror-data-item{float:left;width: 50%;padding: 10% 0;}
.mirror-data-item circle {-webkit-transition: stroke-dasharray 2s;transition: stroke-dasharray 2s;}
.mirror-data-item p{margin: 5px auto 0;color: #fff;}
.circle-data{position: absolute;top: 29%;left: 11%;width: 78%;text-align:center;color: #fff;}
.mirror-list-full .mirror-data-item{width: 100%;padding: 30% 0;}
.mirror-list-full2 .mirror-data-item{padding: 10% 7.5%;}

/* 两侧数据 */
.mirror-data-view{padding:15px;}
.mirror-data-view ul{width: 32.5%;}
.mirror-data-view ul li{padding: 52% 0;}
.mirror-data-view ul li p{position: relative;width: 41%;margin:0 auto;}

/* 日期 */
.mirror-date span{position: relative;color: #fcfcfc;font-family:BebasKai;}
.mirror-date span:not(:last-child){margin-right: 15px;color: #ca9e9e;}
.mirror-date span:before{content:'';display: inline-block;width:3px;height: 9px;margin-right: 5px;background-color: currentColor;}

/* 提示文案和跳转按钮 */
.mirror-tips{padding: 15px;color: #fff;}
.mirror-link{padding: 0 15px;}
.mirror-link a{display: inline-block;vertical-align:middle;margin:0 auto;padding: 0 15px;min-width: 130px;max-width: 100%;height: 40px;line-height: 40px;color: #e44653;background-color: #fff;opacity:.92;border-radius: 100px;box-shadow:0 6px 14px 0 #7c2c58;}

/* 向上动画 */
.mirror-move-icon{padding: 20px 0;color: #fff;overflow: hidden;}
.mirror-move-icon:before,.mirror-move-icon:after{content:'';position: relative;display: block;width: 5px;height: 5px;border: solid currentColor;border-width: 2px 2px 0 0;transform: rotate(-45deg);-webkit-transform: rotate(-45deg);animation: movetop 1.5s infinite;-webkit-animation: movetop 1.5s infinite;-moz-animation: movetop 1.5s infinite;-o-animation: movetop 1.5s infinite;}
.mirror-move-icon:before{margin: 0 auto;}
.mirror-move-icon:after{margin: -2px auto 0;}
@keyframes movetop{from{bottom:-20px;opacity:0;}
to{bottom:0;opacity:1;}
}
@-webkit-keyframes movetop{from{bottom:-20px;opacity:0;}
to{bottom:0;opacity:1;}
}

/* 魔镜介绍页 */
.mirror-log-banner{padding:15px 15px 0;}
.mirror-log-banner img{border-radius:8px;box-shadow:0 4px 10px 0 rgba(109,36,63,.8);}
.mirror-content-list{padding:0 15px 15px;}
.mirror-content{position:relative;padding:30px 15px;border-radius:8px;background:#fff;box-shadow:0 4px 10px 0 rgba(109,36,63,.8);opacity:.92;}
.mirror-name{position: relative;padding-bottom: 14px;}
.mirror-name:after{content:'';position: absolute;opacity:0.92;background:-moz-linear-gradient(-90deg, #eb4a52 0%, #9f2163 100%);background:-webkit-linear-gradient(-90deg, #eb4a52 0%, #9f2163 100%);background:-o-linear-gradient(-90deg, #eb4a52 0%, #9f2163 100%);background:linear-gradient(-90deg, #eb4a52 0%, #9f2163 100%);background-color: #9f2163;width:20px;height:4px;left: 50%;bottom: 0;margin-left: -10px;}
.mirror-code{background:-moz-linear-gradient(-90deg, #eb4a52 0%, #9f2163 100%);background:-webkit-linear-gradient(-90deg, #eb4a52 0%, #9f2163 100%);background:-o-linear-gradient(-90deg, #eb4a52 0%, #9f2163 100%);background:linear-gradient(-90deg, #eb4a52 0%, #9f2163 100%);background-color: #9f2163;width:88px;height:88px;line-height: 88px;border-radius:100%;margin: 0 auto;}
.mirror-code i:before{font-size: 26px;color: #fff;}
.mirror-address{padding-top: 20px;padding-bottom: 35px;}
.mirror-address i:before{font-size: 22px;color: #bcbdca;}
.mirror-right-arrow{position: absolute;right: 15px;top: 50%;margin-top: -5px;display:inline-block;width: 7px;height: 7px;border:solid #d2d3dc;border-width: 1px 1px 0 0;transform: rotate(45deg);-webkit-transform: rotate(45deg);}

