.wrapper {
  position: relative;
}
.link-list{
  padding: 20px 0;
}
.link-nav {
  position: relative;
  margin-left: 270px;
  .link-item {
    border-radius: 5px;
    &:not(:last-child){
      margin-bottom: 20px;
    }
    padding: 15px 0;
    background-color: #222;
    &:after{
      content: '';
      display: block;
      clear: both;
    }
    .box-name {
      position: relative;
      padding: 15px 0 15px 10px;
      font-size: 14px;
      color: #666;
      &:before{
        content: '';
        display: block;
        width: 2px;
        height: 14px;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        left: 0;
        background-color: #666;
      }
    }
    .item {
      float: left;
      padding: 0 10px;
      border-radius: 5px;
      margin-right: 10px;
      p {
        padding: 15px;
        font-size: 16px;
        color: $blue;
        @extend %ellipsis;
      }
      a {
        display: block;
        padding: 10px 15px;
        color:  $gray;
        font-size: 14px;
        @extend %ellipsis;
        &:hover{
          color: $white;
        }
      }
    }
  }
}
