.wrapper {
  position: relative;
}
.link-list{
  position: absolute;
}
.link-nav {
  position: relative;
  margin-left: 270px;
  .link-item {
    position: absolute;
    transition: .3s ease-in-out;
    .box-name {
      position: relative;
      padding: 15px 0 15px 10px;
      font-size: 14px;
      color: #666;
      &:before{
        content: '';
        display: block;
        width: 2px;
        height: 14px;
        position: absolute;
        top: 50%;
        margin-top: -7px;
        left: 0;
        background-color: #666;
      }
    }
    .item {
      width: 230px;
      padding: 10px 5px;
      &:not(:first-of-type){
        margin-top: 10px;
      }
      background-color: $sidebar-bg;
      border-radius: 6px;
      p {
        padding: 5px;
        font-size: 13px;
        color: #4c4444;
        word-break: break-all;
      }
      a {
        display: block;
        padding: 6px;
        color: #999;
        font-size: 12px;
        border-radius: 5px;
        @extend %ellipsis;
        &:not(:last-child){
          margin-bottom: 2px;
        }
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
}