body{background:#84858a url(../img/bg.png) no-repeat;background-size:100% auto}
.dis-flex{display: -webkit-box;display: -webkit-flex;display: flex;align-items:center;-webkit-align-items:center;-webkit-box-align:center;}
.flex-1{-webkit-box-flex: 1;-webkit-flex: 1;flex:1;}
.en-language-btn{position:absolute;top:25px;right:10%;overflow:hidden;border:2px solid #fff;color:#fff;font-size:16px;font-weight: bold;cursor:pointer}
.en-language-btn:after{position:absolute;top:0;z-index:-1;width:100%;height:100%;content:'';-webkit-transform:skewX(12deg);transform:skewX(12deg);background-color:#fff}
.en-language-btn.cur-zn:after{left:-50%;}
.en-language-btn.cur-en:after{left:50%;}
.en-language-btn em{display:inline-block;padding:4px 5px}
.en-language-btn.cur-zn em:nth-child(1),.en-language-btn.cur-en em:nth-child(2){color:#96999d}
.en-input-arrow{display:inline-block;width:40px;height:30px;background-color:#94989b;cursor:pointer}
.en-input-form{margin:32% auto 0;width:80%;}
.en-input-group{margin-top:15px}
.en-input-item{position:relative;height:34px;font-size:14px}
.en-input-item input{position:relative;z-index:2;width:100%;height:inherit;border:0 none;background:0 0;color:#606060;font-size:inherit}
.en-input-item .en-input-label{padding:0 2px;width:85px;height:34px;border:1px solid #fff;color:#fff;text-align:center;font-size:inherit;line-height:32px;font-weight: bold}
.en-input-item .en-input-inner{position:relative;padding:0 5px;height:100%;min-width:0;border:1px solid #fff;background:#fff}
.en-input-item .en-input-inner:before{position:absolute;top:0;left:-6px;z-index:-1;width:100%;height:100%;background-color:#fff;color:#96999d;content:'';-webkit-transform:skewX(-14deg);transform:skewX(-14deg)}
.en-input-inner .en-dropdown-con{position:absolute;top:100%;left:1px;z-index:10;overflow:auto;width:100%;max-height:90px;background:#fff;box-shadow:0 2px 2px 0 rgba(0,0,0,.2);color:#606060;-webkit-overflow-scrolling:touch}
.en-input-inner .en-dropdown-con.up{bottom: 100%;top: inherit;}
.en-input-inner .en-dropdown-con li{padding:8px 5px;font-size:14px;cursor:pointer;word-break:break-word}
.en-input-check{position:relative;margin-top:15px;color:#fff;text-align:center;font-size:14px}
.en-input-check label{position:relative}
.en-check-box{position:absolute;top:4px;left:-14px;width:12px;height:12px;border-radius:2px;background-color:#fff;box-shadow:0 0 2px 1px #a2a2a2 inset}
.en-input-check input{position:absolute;z-index:-1;visibility:hidden}
.en-input-check input:checked~.en-check-box:after{position:absolute;top:3px;left:2px;width:7px;height:3px;border:1px solid #000;border-width:0 0 1px 1px;content:'';-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.en-phone-input{position:relative;height:100%}
.en-area-code{position:relative;z-index:2;display:inline-block;padding:0 5px 0 10px;width:75px;height:100%;background:#fff;color:#fff;}
.en-area-code span{position:absolute;top:50%;left:0;color:#606060;-webkit-transform:translateY(-50%);transform:translateY(-50%)}
.en-area-code:after{position:absolute;top:50%;right:0;margin-top:-8px;width:1px;height:16px;background-color:#dedee0;content:''}
.en-phone{position:absolute;top:0;left:0;z-index:1;padding:0 5px 0 85px;width:100%;height:100%}
.en-vcode-btn{margin-left:5px;width:100px;height:34px;border:1px solid #fff;background:#9b9ca0;color:#fff;text-align:center;font-size:14px}
.en-dropdown-btn{position:absolute;top:1px;right:1px;z-index:2;width:32px;height:32px;background-color: #fff;cursor:pointer}
.en-dropdown-btn:after{position:absolute;top:50%;left:50%;margin-top:-2px;margin-left:-4px;width:0;height:0;border:4px solid;border-color:#94989b transparent transparent transparent;content:''}
.en-login-btn{display:block;margin:12px auto 0;width:80px;height:80px;cursor:pointer;background-image: url('../img/login-btn.png');background-repeat: no-repeat;background-size: 100% 100%;}
