.loadtip {
  padding: 20px;
  font-size: 14px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  .loadtip-text {
    margin-right: 5px;
  }
}

.g-pb60 {
  padding-bottom: 60px;
}

.product-list{
  .product-item{
    border-bottom: 1px solid #ddd;
    background-color: #fafafa;  
  }
}
