@font-face {
  font-family: 'iconfont'; /* project id 1372481 */
  src: url('//at.alicdn.com/t/font_1372481_5i6astpywrp.eot');
  src: url('//at.alicdn.com/t/font_1372481_5i6astpywrp.eot?#iefix')
      format('embedded-opentype'),
    url('//at.alicdn.com/t/font_1372481_5i6astpywrp.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_1372481_5i6astpywrp.woff') format('woff'),
    url('//at.alicdn.com/t/font_1372481_5i6astpywrp.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_1372481_5i6astpywrp.svg#iconfont') format('svg');
}

.iconfont {
  font-family: 'iconfont' !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shopping:before {
  content: '\e643';
}
