<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>@@title</title>
  <link rel="stylesheet" href="http://res.mallcoo.net/mobile/css/1.0.0/reset.css">
  <link rel="stylesheet" href="http://res.mallcoo.net/mobile/css/1.0.0/smcfont.css">
  <link rel="stylesheet" href="http://res.mallcoo.net/libs/zebra_dialog/1.3.8/zebra_dialog.css">
  <link rel="stylesheet" href="http://res.mallcoo.net/mobile/theme/default/1/css/theme.css">
  <link rel="stylesheet" href="assets/css/dzfp.css">
</head>
<body>
