<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>首页</title>
  <!-- <link rel="stylesheet" href="http://res.mallcoo.net/mobile/css/1.0.0/reset.css"> -->
  <link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
<header class="header"></header>
<main class="main">
  <nav class="nav">
    <ul class="data-list" id="el">
      <li v-for="(item,index) in dataList" :key="index">
        <p @click.prevent="toggle(item)" :class="{active: item.show}"><span>{{item.name}}</span><i></i></p>
        <transition name="fade">
          <ul v-show="item.show">
            <li v-for="(item1,index1) in item.children" :key="index1">
              <p @click.prevent="toggle2(item1)" :class="{active: item1.show}"><span>{{item1.name}}</span><i></i></p>
              <transition name="fade">
                <ul v-show="item1.show">
                  <del-item v-for="(item2,index2) in item1.children" :key="index2" :item1="item1" :item2="item2" :index2="index2"></del-item>
                </ul>
              </transition>
            </li>
          </ul>
        </transition>
      </li>
    </ul>
  </nav>
</main>
<footer class="footer"></footer>
<!--[if IE]>
<script src=”http://html5shiv.googlecode.com/svn/trunk/html5.js”></script>
< ![endif]-->
<script src="//cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
<script src="assets/js/main.js"></script>
</body>
</html>