.wrapper {
  position: relative;
}

.link-nav {
  position: relative;
  margin-left: 270px;
  .link-item {
    display: inline-block;
    vertical-align: top;
    padding-bottom: 15px;
    .box-name {
      position: relative;
      padding: 20px 0 20px 10px;
      font-size: 13px;
      color: #fff;
      &:before{
        content: '';
        display: block;
        width: 2px;
        height: 15px;
        position: absolute;
        top: 50%;
        margin-top: -8px;
        left: 0;
        background-color: $theme-cor;
      }
    }
    .item {
      width: 200px;
      border: 1px solid #666;
      margin-right: 10px;
      vertical-align: top;
      padding: 10px;
      margin-bottom: 10px;
      background-color: $sidebar-bg;
      border-radius: 6px;
      overflow: hidden;
      span {
        display: block;
        color: #333;
        font-size: 13px;
        margin-bottom: 10px;
        padding: 0 5px;
        color: #808080;
      }
      a {
        display: block;
        padding: 6px;
        color: #ddd;
        font-size: 12px;
        border-radius: 5px;
        &:not(:first-child){
          margin-top: 2px;
        }
        transition: all .3s ease-in;
        @extend %ellipsis;
        &:hover{
          color: $theme-cor;
          background-color: rgba(0,0,0,.2);
        }
      }
    }
  }
}