.wrapper {
  position: relative;
}

.link-nav {
  position: relative;
  margin-left: 270px;
  .link-item {
    padding-bottom: 20px;
    overflow: hidden;
    .box-name {
      position: relative;
      margin-bottom: 15px;
      padding-left: 10px;
      font-size: 13px;
      color: #fff;
      &:before{
        content: '';
        display: block;
        width: 2px;
        height: 15px;
        position: absolute;
        top: 0;
        left: 0;
        background-color: $theme-cor;
      }
    }
    .item {
      float: left;
      width: 200px;
      margin-right: 10px;
      vertical-align: top;
      padding: 10px;
      margin-bottom: 10px;
      background-color: $sidebar-bg;
      border-radius: 6px;
      overflow: hidden;
      span {
        display: block;
        color: #333;
        font-size: 13px;
        margin-bottom: 5px;
        color: #808080;
      }
      a {
        display: block;
        padding: 5px 0;
        color: #ddd;
        font-size: 12px;
        @extend %ellipsis;
        &:hover{
          color: $theme-cor;
        }
      }
    }
  }
}