@media screen and (min-width: 481px) {
    .link-nav .link-list {
        font-size: 0;
        padding: 20px;
    }
}

@media screen and (max-width:425px){
    .sidebar{
        display: none;
    }
    .link-nav{
        margin-left: 0;
    }
    .link-list {
      font-size: 0;
      padding: 0;
    }
    .link-item{
      .item{
        width: 100%;
      }
    }
    .title-bar{
        display: block;
    }
}
