/*重置css*/
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, lengend, input, button, textarea, select, p, blockquote, th, td { margin:0; padding: 0;}
html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 { -webkit-text-size-adjust: none; }
table { border-collapse: collapse; border-spacing: 0; }
img { border: 0 none; vertical-align: top; }
li { list-style-type: none; }
caption, th { text-align: left; }
h1, h2, h3, h4, h5, h6 { font-size: 100%;font-weight:400;}
body, input, button, textarea, select { font-size: 12px;font-family:"PingFangSC-Light","Microsoft Yahei",sans-serif;}
button { cursor: pointer;border:0;}
em, cite { font-style: normal; }
body {-webkit-text-size-adjust: none;-webkit-touch-callout: none;-webkit-user-select: none;}
:focus { outline: none; }
.clearfixed:after { content: "."; clear: both; display: block; height: 0; overflow: hidden; }
.clearfixed { zoom: 1; display: block; }
*{-webkit-text-size-adjust: none; -moz-text-size-adjust: none; -ms-text-size-adjust: none; -o-text-size-adjust: none; text-size-adjust: none;box-sizing:border-box;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;}
::-webkit-scrollbar {width:0; height:0;}
::-ms-clear {display:none;}
::-ms-reveal {display:none;}
input::-webkit-input-placeholder{color:#ccc;}
html{height:100%;-webkit-tap-highlight-color:transparent;}
input,textarea{-webkit-appearance:none;}
input:-webkit-autofill {-webkit-box-shadow: 0 0 0px 1000px white inset;box-shadow: 0 0 0px 1000px white inset;}
body{position: relative;width: 100%; min-height: 100%; line-height: 1.4;}

.share-bg{background-repeat: no-repeat; background-position: center center;background-size: 100% 100%;position: absolute; top:0; left:0; right:0; bottom:0;}
.i1-bg{background-image: url(../images/1.png);}
.i2-bg{background-image: url(../images/2.png);}
.i3-bg{background-image: url(../images/3.png);}
.i4-bg{background-image: url(../images/4.png);}
.i5-bg{background-image: url(../images/5.png);}

.pos{position: absolute;left: 0;width: 100%;text-align: center;}
.theme-color{color: #edcd93;}

.video-status{top: 62.342%;font-size: .4rem;}
.switch-language{position: absolute; top: 5.585%; right: 6.533%;}
.switch-language li{width: .64rem; height: .64rem; color: #fff; line-height: .64rem; background-color: rgba(255,255,255,.3); text-align: center; font-size: .3466rem; margin-bottom: .16rem; border-radius: 50%;}
.i1-tit{top: 24.234%;font-size: .6933rem;color: #fff;font-weight: bold;}
.i1-bottom{bottom: 0;padding-bottom: .9rem;}
.i1-btn{width: 50.933%; margin: 0 auto; border: .0266rem solid #edcd93; color: #fff; font-size: 0.5866rem; line-height: 0.7466rem; border-radius: 0.1333rem; background-color: rgba(255,255,255,.3);}
.i1-link{display: block; font-size: .3133rem; color: #fff; margin-top: .1866rem;}
.i1-check{margin-top: .5333rem; font-size: .4rem; line-height: .4266rem; color: #fff;}
.i1-check span{position: absolute; left: 0; top: 0; display: inline-block; border: .0133rem solid #edcd93; width: .4266rem; height: .4266rem;}
.i1-check span:after{content: ''; display: none; position: absolute; top: .0266rem; left: .15rem; width: .09rem; height: .25rem; border: .0133rem solid #fff; border-width: .0133rem 0 0 .0133rem; transform: rotate(-130deg);}
.i1-check label{position: relative;display: inline-block; vertical-align: top; padding-left: .52rem;}
.i1-check input[type="checkbox"]{visibility: hidden; position: absolute;}
.i1-check input:checked+span:after{display: block;}
.i2-top{top: 0;padding-top: 12.612%;}
.i2-tit{font-size: .6933rem;font-weight: bold;}
.i2-word{font-size: .4rem;}
.i3-word{font-size: .35rem; margin-top: 0.2rem;}
.i4-word{top: 15.495%; font-size: 0.5866rem;}
.i5-tit{top: 32.702%; font-size: .6933rem;} 
.i5-word{top: 50%; font-size: .45rem;}
.touch-listen-btn{top: 53.333%; font-size: .4rem;}
.re-recording-btn{top: 80.45%; font-size: .4rem;}
.upload-btn{top: 88.3%; font-size: .4rem;}
.share-tips{position: absolute;top: 0;right: 0.7066rem;}
.share-tips p{margin-top: 0.3333rem;margin-left: .22rem;font-size: .45rem;width: 0;}
.share-tips p span{display: block;margin-bottom: 0.4rem;}