@media screen and (min-width: 481px) {
    .link-nav .link-list {
        max-width: 1200px;
        margin: 0 auto;
    }
    
}

@media screen and (max-width:640px){
    .sidebar{
        display: none;
    }
    .link-nav{
        margin-left: 0;
        .link-item{
            margin: 10px;
            .item{
                margin: 3%;
                width: 94%;
            }
        } 
    }
    .title-bar{
        display: block;
    }
    .footer{
        padding-left: 0;
    }
}