@media screen and (min-width: 481px) {
    .link-nav .link-list {
        font-size: 0;
        padding: 0 25px;
    }
}

@media screen and (max-width:720px){
    .sidebar{
        display: none;
    }
    .link-nav{
        margin-left: 0;
        .link-item{
            display: inherit;
            &:nth-child(1){
                padding-top: 40px;
            }
            .box-name{
                margin-left: 3%;
                margin-bottom: 0;
            }
            .item{
                margin: 3%;
                width: 94%;
            }
        } 
    }
    .title-bar{
        display: block;
    }
    .footer{
        padding-left: 0;
    }
}